fastapi
uvicorn
python-multipart
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-google-genai
langchain-huggingface
langchain-chroma
sentence-transformers
pypdf
docx2txt
watchdog
requests